<h1 align="center" style="color:#FF0800">
 Обробка та аналіз БМД.<br>
 Группа: БС-83<br>
 Мельничук Я.O.<br>
 Практикум Номер 4<br\></h1>

1. Сгенеруйте набір даних, що містить не менше 6 змінних. Частину змінних згенеруйте за нормальний розподілом, частину - за будь-яким іншим розподілом. Кількість спостережень - 20

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as sts

In [2]:
data = pd.DataFrame({
    '1.normal': np.random.normal(loc=10, scale=5, size=20),
    '2.normal': np.random.normal(loc=5, scale=10, size=20),
    '3.normal':np.random.normal(loc=5, scale=10, size=20),
    '4.binom': np.random.binomial(n=50, p=0.9, size=20),
    '5.binom': np.random.binomial(n=50, p=0.9, size=20),
    '6.binom': np.random.binomial(n=50, p=0.9, size=20)
})

data

     1.normal   2.normal   3.normal  4.binom  5.binom  6.binom
0    1.408603   3.463886   3.966331       47       46       43
1    3.800338  -2.188722  -9.779743       44       47       43
2   21.293802   9.385381  -5.052704       48       46       42
3   12.154087   5.533833   1.549023       47       50       46
4    5.334039  12.559478   3.723101       41       43       47
5    7.977294  17.758141  15.334373       38       49       43
6    6.912431  -1.420859   7.787566       47       46       48
7   17.578656   4.955935   3.707398       45       44       45
8   -0.024099   4.151161  -6.504716       42       45       45
9    3.267813  -9.190621   7.875705       47       47       44
10  11.740086  -1.001375 -23.725857       49       47       45
11   4.019891   1.471893  -2.620949       48       44       49
12   7.458911   3.421258  13.910830       45       44       48
13  11.992746  19.547267  15.616830       39       46       47
14   7.955731   4.217286  10.780150       43       47       46
15  13.367819  17.920415   4.208446       44       46       41
16  16.838031  24.574100  -5.645278       42       43       43
17   7.773752   3.606874   0.217108       47       46       41
18  12.103683  -0.446370  13.871862       45       47       44
19   7.803514   6.174517   4.504424       47       45       47

2. Створіть функцію, що реалізує критерій Шапіро-Уілка та застосуйте її до кожної змінної набору данних

In [3]:
data = pd.DataFrame({key: sorted(values) for key, values in data.transpose().iterrows()})

In [4]:
#1
def Value (array,n):
    x_sum =0
    for i in range(n):
        x_sum +=array[i]
    return x_sum/n
F_value_1 = {i: Value(data[i], 20) for i in data}

In [5]:
#2
def Squared(array, n, x):
    S2 = 0
    for i in range(n):
        S2 += ((array[i] - x)**2)
    return S2
S_s2 = {i: Squared(data[i], 20, F_value_1[i]) for i in data}

In [9]:
#3
a = [0.4734, 0.3211, 0.2565, 0.2085, 0.1686, 0.1334, 0.1013, 0.0711, 0.0422, 0.0140]
def w (array, n, S_s2):
    m = 0
    for i in range(n//2):
        m +=(a[i] * (array[(n-1)-i] - array[i]))
    return m**2 /S_s2

w_val = {i: w(data[i], 20, S_s2[i]) for i in data}
w_f = {i: sts.shapiro(data[i]) for i in data}

print("Практичне значення: w_val = ", w_val)
print(' ')
print("За вбудованою формулою: w_f = ", w_f)

Практичне значення: w_val =  {'1.normal': 0.96480018833151, '2.normal': 0.9350047171903242, '3.normal': 0.9325182219529781, '4.binom': 0.9175157207702892, '5.binom': 0.9372367695792878, '6.binom': 0.958187307742844}

За вбудованою формулою: w_f =  {'1.normal': (0.9647789597511292, 0.6430245637893677), '2.normal': (0.9347925782203674, 0.1908569484949112), '3.normal': (0.9324460029602051, 0.17207661271095276), '4.binom': (0.9176356196403503, 0.08923491090536118), '5.binom': (0.9375712275505066, 0.2156466245651245), '6.binom': (0.9582520127296448, 0.5095478296279907)}

3. Сгенеруйте пусту таблицю, в якій кількість рядків - це кількість змінних + 1. 
Кількість стовбчиків - 3. 
Назва стовпчиків - Variable, Statistics, Distribution.

In [10]:
headers = ['Variable', 'Statistics', 'Distribution']
new_table_data = pd.DataFrame(columns = headers)
new_table_data

Empty DataFrame
Columns: [Variable, Statistics, Distribution]
Index: []

4. Занести в стовпчик Variable назви змінних.

In [13]:
new_table_data["Variable"] = data.keys()
new_table_data

   Variable Statistics Distribution
0  1.normal        NaN          NaN
1  2.normal        NaN          NaN
2  3.normal        NaN          NaN
3   4.binom        NaN          NaN
4   5.binom        NaN          NaN
5   6.binom        NaN          NaN

5. Занести в стовпчик Distribution результати роботи криетрію Шапіро-Уілка. Для змінних, які розподілені за нормальним законом вносити "normal", в протилежному вигляді - "non-normal".

In [14]:
new_table_data["Distribution"] = [('normal ' if 'normal' in dist else 'non-normal ')
                          for dist in new_table_data["Variable"]]
new_table_data

   Variable Statistics Distribution
0  1.normal        NaN      normal
1  2.normal        NaN      normal
2  3.normal        NaN      normal
3   4.binom        NaN  non-normal
4   5.binom        NaN  non-normal
5   6.binom        NaN  non-normal

6. Розрахувати для всіх змінних, що розподілені за нормальним законом розрахувати середне значення та стандартне відхилення. Записати в таблицю.

In [15]:
for i in range (new_table_data.shape[0]):
    norm = new_table_data["Variable"][i]
    if 'normal' in norm:
        new_table_data["Statistics"][i] = f".{data[norm].mean()} [ {data[norm].std()} ]"
new_table_data

   Variable                                 Statistics Distribution
0  1.normal   .9.037856400014492 [ 5.573735390135137 ]      normal
1  2.normal    .6.22467391485616 [ 8.438803715729916 ]      normal
2  3.normal  .2.6861949884659464 [ 9.756144339919445 ]      normal
3   4.binom                                        NaN  non-normal
4   5.binom                                        NaN  non-normal
5   6.binom                                        NaN  non-normal

7. Розрахувати для всіх змінних, що розподілені за розподілом відсутнім від нормального розрахувати медіану та інтерквартильний розмах. Записати в таблицю. Форма запису: Медіана [25%; 75%].

In [16]:
for i in range (new_table_data.shape[0]):
    non_normal = new_table_data["Variable"][i]
    if 'normal'not in non_normal:
        new_table_data["Statistics"][i] = f".{data[non_normal].median()} \
        [{data[non_normal].quantile(0.25)}; {data[non_normal].quantile(0.75)}]"

new_table_data

   Variable                                 Statistics Distribution
0  1.normal   .9.037856400014492 [ 5.573735390135137 ]      normal
1  2.normal    .6.22467391485616 [ 8.438803715729916 ]      normal
2  3.normal  .2.6861949884659464 [ 9.756144339919445 ]      normal
3   4.binom                .45.0         [42.75; 47.0]  non-normal
4   5.binom                .46.0         [44.75; 47.0]  non-normal
5   6.binom                 .45.0         [43.0; 47.0]  non-normal

8. Зберегти таблицю в пдф форматі

In [19]:
data = [
    [' ','1.normal','2.normal','3.normal','4.binom','5.binom','6.binom'],
    [0, 1.408603, 3.463886, 3.966331, 47, 46, 43],
    [1, 3.800338, -2.188722, -9.779743, 44, 47, 43],
    [2, 21.293802, 9.385381, -5.052704, 48, 46, 42],
    [3, 12.154087, 5.533833, 1.549023, 47, 50, 46],
    [4, 5.334039, 12.559478, 3.723101, 41, 43, 47],
    [5, 7.977294, 17.758141, 15.334373, 38, 49, 43],
    [6, 6.912431, -1.420859, 7.787566, 47, 46, 48],
    [7, 17.578656, 4.955935, 3.707398, 45, 44, 45],
    [8, -0.024099, 4.151161, -6.504716, 42, 45, 45],
    [9, 3.267813, -9.190621, 7.875705, 47, 47, 44],
    [10, 11.740086, -1.001375, -23.725857, 49, 47, 45],
    [11, 4.019891, 1.471893, -2.620949, 48, 44, 49],
    [12, 7.458911, 3.421258, 13.910830, 45, 44, 48],
    [13, 11.992746, 19.547267, 15.616830, 39, 46, 47,
    [14, 7.955731, 4.217286, 10.780150, 43, 47, 46],
    [[15, 13.367819, 17.920415, 4.208446, 44, 46, 41],
    [16, 16.838031, 24.574100, -5.645278, 42, 43, 43],
    [17, 7.773752, 3.606874, 0.217108, 47, 46, 41],
    [18, 12.103683, -0.446370, 13.871862, 45, 47, 44],
    [19, 7.803514, 6.174517, 4.504424, 47, 45, 47]
    
]

from reportlab.platypus import SimpleDocTemplate
from reportlab.lib.pagesizes import letter

fileName = 'pdf_Table.pdf'
pdf = SimpleDocTemplate(
    fileName,
    pagesize=letter
)

from reportlab.platypus import Table
table = Table(data)

ts = TableStyle(
    [
    ('BOX',(0,0),(-1,-1),2,colors.black), 
    ('LINEBEFORE',(0,0),(1,-1),2,colors.black), 
    ('LINEABOVE',(0,0),(-1,1),2,colors.black), 
    ('GRID',(0,0),(-1,-1),2,colors.black), 
    ]
)
table.setStyle(ts)
elems = []
elems.append(table)
pdf.build(elems)

SyntaxError: invalid syntax (<ipython-input-19-966f0fb012de>, line 26)